@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900|Nunito:300,400,400i,600,700,800,900|Oswald:300,400,500,600,700|Roboto:300,400,400i,500,700,900&display=swap");

@fontoswald: "Oswald", sans-serif;
@fontlato: "Lato", sans-serif;
@fontnunito: "Nunito", sans-serif;
@fontroboto: "Roboto", sans-serif;

@color1: #f2f2f2;
@color2: #16272d;
@color22: #7c7c7c;
@color3: #797979;
@color4: #243879;
// 2D5092

.fontoswald {
    font-family: @fontoswald;
}

.allpage {
    // background-color: @color1;
    font-family: @fontlato;
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
}

.header {
    font-family: @fontoswald;
    color: @color2;
    .navbar {
        background-color: @color1;
        .inline-block {
            display: inline;
        }
    }
}
.home {
    // background-color: @color1;
    font-family: @fontlato;
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        color: @color3;
        font-weight: bold;
        border-style: solid;
        border-width: 10px 0;
        border-color: @color3;
        padding-bottom: 2rem;
        padding-top: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.footer {
    background-color: @color4;
    color: @color1;
}
.sidebar {
    a {
        text-decoration: none;
    }
}
@media (max-width: 1199px) {
    .home {
        .centered {
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 75px;
            padding-bottom: 2rem;
            padding-top: 2rem;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}

@media (max-width: 992px) {
    .home {
        .centered {
            top: 35%;
            left: 50%;
            font-size: 60px;
            border-width: 10px 0;
            padding-bottom: 2rem;
            padding-top: 2rem;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}

@media (max-width: 768px) {
    .home {
        .centered {
            top: 25%;
            left: 50%;
            font-size: 50px;
            border-width: 8px 0;
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}

@media (max-width: 577px) {
    .home {
        .centered {
            top: 20%;
            left: 50%;
            font-size: 40px;
            border-width: 6px 0;
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media (max-width: 420px) {
    .home {
        .centered {
            top: 15%;
            left: 50%;
            font-size: 20px;
            border-width: 4px 0;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}
